<html>
  <head>
    <script src="jquery-2.1.1.min.js"></script>
    
    <title>jQuery Example</title>
    <script>
      $(document).ready(function() {

        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_UK/all.js', function(){
          FB.init({
            appId: '1446542485629653',
          });     
          //on click of button do up to ln 38 (all the rest)
          //$.onclick('#loginbutton') {
          $( "#loginbutton" ).click(function() {
            FB.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                console.log('Logged in.');
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
                console.log(response);

                $.ajax('/gettoken', { // url in urls.py will map to the get_access_token view
                  method: 'post',
                  data: {
                    'accessToken': accessToken,
                    'user_id': uid
                  },
                  success: function(data, status) {
                    // Show something to say that it worked.
                    // `data` is whatever the server returned.
                    console.log('success');
                  },
                  error: function(xhr, status) {
                    // It failed -- you probably don't know why.
                    console.log('please try again');
                    alert('Request failed - please try to log in again, or contact the project maintaners!');
                  }
                })
              }
              else {
                FB.login();
              }
            });
          });

        });  
      });
    </script>

    <p>Please click this to log in to Facebook.</p>
    <button type="button" id="loginbutton">Log In</button>

  </head>




</html>